body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ff0000, #000000);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation: backgroundAnimation 10s infinite alternate;
  }
  .imges{
    width: 600px;
   
  }
  
  .main-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    animation: fadeIn 1.5s ease;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    animation: slideDown 1s ease-out;
  }
  
  #app {
    width: 100%;
  }
  
  .form-control {
    margin-bottom: 20px;
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
  }
  
  input:focus {
    background: rgba(255, 255, 255, 0.4);
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  input:focus + label {
    transform: translateY(-25px);
    opacity: 0.8;
  }
  input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1rem;
  }
  
  .btn {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #000000, #ff0000);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left:1rem;
  }
  
  .btn:hover {
    background: linear-gradient(135deg, #000000, #ff0000);
    transform: scale(1.05);
  }
  
  .btn:active {
    background: linear-gradient(135deg, #000000, #ff0000);
    transform: scale(0.98);
  }